body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: GothamBold;
  src: url("./resources/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: GothamBook;
  src: url("./resources/Gotham-Book.otf") format("opentype");
}

/*HOME*/
.btn4 {
  display: inline-block;
  padding: 0.6em 1em;
  border: none;
  margin: 0.2em 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "GothamBold";
  font-weight: 300;
  color: #fdfdfd;
  border-radius: 3em;
  text-align: center;
  transition: 0.1s;
  background-color: #23262d;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.btn4:hover {
  background-color: #34aadc !important;
}

/*CARDS HOME*/
div.cards {
  margin: 80px auto;
  text-align: center;
}

div.cards {
  margin: 80px auto;
  text-align: center;
}
div.card {
  background: white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}
div.card img {
  max-width: 300px;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title {
  background: white;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
